#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
} .gridSquare {
    display: flex;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}